body {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-family: 'Lobster', cursive;
}

.card-img-overlay h5 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

li {
  list-style-type: none;
  margin-left: 0px;
}